{# ***************************************** POP UP ADD ***************************************** #}
{% block body %}
        {# Pop Up formulaire #}
        <div class="modal fade" id="createProduit"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createProduitLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popUP_Create add-mode">
                        {# Icon add #}
                        <i class="fa-regular fa-square-plus fa-3x changeColor"></i>
                        {# titre #}
                        <h5 class="modal-title" id="cuissonLabel"> CREATE INGRÉDIENT</h5>
                        {# Btn close #}
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {# Pop Up formulaire Ajouter #}
                    <form method="post" enctype="multipart/form-data" id='createProduit'>
						<div class='row m-0 justify-content-center mt-3 '>
							<div class='col-lg-8 p-0'>
								<div
									class='col-lg-6'>
									{# Label et input #}
									<label for="{{ form.PR_LIBELLE.vars.id }}" class="form-contro">Titre de l'ingrédient</label>
									{{ form_widget(form.PR_LIBELLE, {'attr': {'class': 'form-control form-control'}}) }}
								</div>
							</div>
						</div>

						<div class='row m-0 justify-content-center mt-3 '>
							<div class='col-lg-8 p-0'>
								<div
									class='col-lg-6'>
									{# Label et input #}
									<label for="{{ form.categorie.vars.id }}" class="form-contro">Choisir la catégorie</label>
									{{ form_widget(form.categorie, {'attr': {'class': 'form-control form-control'}}) }}
								</div>
							</div>
						</div>

                        <div class='SubmitRecettes'>
                            {# bouton retour pour sortir de la popUp #}
                            <button type="button" class="btn myBoutton text-white" data-bs-dismiss="modal">Fermer</button>
                            {# Boutton Submit #}
                            {{ form_widget(form.submit , {'attr': {'class': 'btn  myBouttonSubmit m-2'}}) }}
                        </div>

                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
{% endblock %}





