{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Produit
{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
	{% include 'produits/Gestion_Produits.html.twig' %}
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}
	{# --------------------------------------POPUP ADD ------------------------------ #}

	<div id='container_form' class='ma-classe'>
		{# Pop Up formulaire Ajouter #}
		<form method="post" enctype="multipart/form-data" class='popupProduits'>
			<div class='popUP_Create add-mode'>
				<div
					class='col-lg-3 Create add-mode'>
					{# Icon add #}
					<i class="fa-regular fa-square-plus fa-5x changeColor"></i>
				</div>

				<div
					class='d-flex align-items-center'>
					{# titre #}
					<h4> CREATE INGREDIENT</h4>
				</div>
			</div>

			<div class='row m-0 justify-content-center mt-3 '>
				<div class='col-lg-8 p-0'>
					<div
						class='col-lg-6'>
						{# Label et input #}
						<label for="{{ form.PR_LIBELLE.vars.id }}" class="form-contro">Titre de l'ingrédient</label>
						{{ form_widget(form.PR_LIBELLE, {'attr': {'class': 'form-control form-control'}}) }}
					</div>
				</div>
			</div>

			<div class='row m-0 justify-content-center mt-3 '>
				<div class='col-lg-8 p-0'>
					<div
						class='col-lg-6'>
						{# Label et input #}
						<label for="{{ form.categorie.vars.id }}" class="form-contro">Choisir la catégorie</label>
						{{ form_widget(form.categorie, {'attr': {'class': 'form-control form-control'}}) }}
					</div>
				</div>
			</div>

			<div
				class='SubmitRecettes'>
				{# bouton retour pour sortir de la popUp #}
				<a class="m-2 btn myBoutton affichePopUp" href={{url('Gestion_Produits')}}>Retour</a>
				{# Boutton Submit #}
				{{ form_widget(form.submit , {'attr': {'class': 'btn  myBouttonSubmit m-2'}}) }}
			</div>

			{{ form_rest(form) }}
		</form>
	</div>

{# ***************************************** JAVASCRIPT ***************************************** #}

<script>
	// Désactive le scroll quand la popUp et affiché
	window.onload = function () {
	var element = document.querySelector('.ma-classe');
	if (element) {
	document.body.classList.add('scroll-desactive');
	$('.voile').toggle();
	}
	};
</script>
{% endblock %}
