{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Ajout Etape{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
	{% include 'recettes/update_recette.html.twig' %}
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}

{# **************** gestion d ela bibliothèque select2 pour l'input select ***************** #}

    <!-- Inclusion de jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Inclusion de Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
    $(document).ready(function() {

    $(".js-example-theme-multiple").select2({
    theme: "classic"
    });});
    </script>


{# ----------------------------------- ADD ETAPE --------------------------------------------------- #}
    <div id='container_form' class='ma-classe'>
        <form method="post" enctype="multipart/form-data" class='popupEtape'>
            <div class='popUP_Create Edit-mode '>
                <div class='col-lg-3 Create Edit-mode '> 
                    {# Icon add #}
                    <i class="fa-regular fa-square-plus fa-5x changeColor"></i>
                </div>

                <div class='d-flex align-items-center'>
                    {# titre Create de la pop up ajouter #}
                    <h4>UPDATE ETAPE</h4>
                </div>  
            </div>
            {# <div>
                <h5 class='text-center mt-4 mb-4 text_Size'>Recette <span class="form-contro text_color" >{{ recettes.reLibelle }}</span></h5>
            </div> #}

            <div class='d-flex col-12 mt-2'>
                <div class='col-lg-6'>
                    <div class='p-0' >
                        <div>
                            <label for="{{ form.et_numero.vars.id }}" class="form-contro">Numero de l'étape*</label>
                            {{ form_widget(form.et_numero, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class='col-lg-6'>
                    <div class='p-0' >
                        <div>
                            <label for="{{ form.cuisson.vars.id }}" class="form-contro">Mode de cuisson</label>
                            {{ form_widget(form.cuisson, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class='d-flex col-12 mt-2' >
                <div class='col-lg-12' >
                    <label for="{{ form.et_description.vars.id }}" class="form-contro">Description de l'étape*</label>
                    {{ form_widget(form.et_description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class='SubmitRecettes'> 
                {# Boutton Submit pour soumettre la nouvelle Etape #}
                {# <a class="m-2 btn  myBoutton affichePopUp" href={{url('recette_update', {'id': recettes.id})}}>Retour</a> #}
                {{ form_widget(form.submit , {'attr': {'class': 'btn myBouttonSubmit_Edit  m-2'}}) }}
            </div>

            {{ form_rest(form, {'attr': {'class': 'd-none'}}) }}
        </form>
    </div> 

    <script>
        console.log("Avant l'ajout de la classe");
window.onload = function() {  
    var element = document.querySelector('.ma-classe'); 
  console.log("Élément trouvé :", element);

  if (element) {
    document.body.classList.add('scroll-desactive');
    $('.voile').toggle(); 
    console.log("Classe ajoutée");
  } else {
    console.log("Élément avec la classe spécifique non trouvé");
  }
};
console.log("Après l'écouteur d'événements");    </script>

    </script>
    {% endblock %}

