{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Régions{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
    {% include 'Menu.html.twig' %}
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}
    {# titre #}
    <h3 class='text-center'>{{message}}</h3>

    {# Boutton ajouter #}
    <a href={{url('Create_Region')}} class='Cercle' id='affichePopUpProduit' class='btn'><i class="fa-solid fa-plus-minus text-white fa-2x"></i></a>

{# ------------------------------- TABEAU GESTION ------------------------- #}
    {% if regions | length > 0 %}
        <section class="mt-5 mb-5 tableau row m-0">
            {# Entete du tableau #}
            <div class='tete_tableau col-lg-11'>
                <div class="colonne1 col-lg-10">
                    <span scope="col"class='text-center'>Nom régions</span>
                </div>
                <div class="colonne2 col-lg-2">
                    <span scope="col" class='text-center'>Actions</span>         
                </div>
            </div>

            {# Corp du tableau #}
            <div class='Corp_tableau col-lg-11 p-0'>
                {% for region in regions %} 
                    <div class='d-flex col-lg-12 corp_tableau2 d-lg-flex align-items-center {% if loop.index is odd %}ligne-impaire{% else %}ligne-paire{% endif %}'>
                        <div class="colonne1  col-lg-10 p-0">                
                            <span scope="col" class='text-center ml-5'>{{region.regLibelle}}</span>
                        </div>
                        <div class="colonne2 col-lg-2">
                            <span scope="col" class='text-center'> 
                            {# <a class="affichePopUpUpdate" data-id="{{ categorie.id }}"><i class="fa-solid fa-pen-to-square text-warning fa-lg"></i></a> #}
                                <a id="affichePopUpUpdate"  href={{url('update_regions', {'id': region.id})}}><i class="fa-solid fa-pen-to-square text-warning fa-lg"></i></a>
                                {% if not isRegionUsed[region.id] %}
                                    <a id="affichePopUpUpdate" class='delete ml-4'  href={{url('delete_Region_pop_Up', {'id': region.id})}}><i class="fa-solid fa-trash-can text-danger fa-lg"></i></a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </section>
    {% else %}
        <p>Aucun régions pour l'instant</p>
    {% endif %} 

<script>

    function OpenPopUp(pSelect) {
        // Pour afficher le voile et la pop-up
            $(pSelect).click(function() {
                $('.voile').toggle(); 
                $('.popupCatégorie').toggle();
            });
    }
    OpenPopUp('#affichePopUp');

</script>


{% endblock %}
