

{% extends 'base.html.twig' %}

{% block title %}Détails de la recette{% endblock %}

{% block body %}

    <section class='container-titre-image'>
        <h2>{{ recette.relibelle }}</h2>
        <img class="imgDetails" src="{{ asset('recettes_images/' ~ recette.reimage|url_encode) }}" alt="Image de la recette">        <div class='container-nb-time-kcal'>
            <div class='time_NB_Kcal'>
                <i class="fa-regular fa-user recette_i fa-2x"></i>
                <p class='text'>{{ recette.renbpersonnes }} /Pers</p>
            </div>
            <div class='time_NB_Kcal'>
                <i class="fa-regular fa-clock recette_i fa-2x"></i>
                <p class='text'>{{ recette.retemps }} minutes</p>
            </div>
            <div class='Kcal'>
                <p class='text'>{{ recette.rekcal }} KCAL</p>
                <p class='text'> /Pers</p>
            </div>
        </div>
    </section>

    <section  class='container-ingredients'>
        <h3>Ingrédients</h3>
        <div class="liste_ingredient">
        
        </div>
    </section>

    <section class='commentaire'>
        <div class='com'>
            <p>{{ recette.recommentaires }}</p>
        </div>
    </section>

    <section class='container-etape'>
        <h3>Etapes</h3>
        {% for etape in recette.getEtapes %}
        <div class='etape'>
            <div>
                <p>ETAPE {{ etape.etnumero }} / {{ etape.etnumero }}</p>
            </div>
            <div>
                <p>{{ etape.etdescription }}</p>
            </div>
            <div>
                <p>{{ etape.cuisson.culibelle }}</p>
            </div>
                <ul>
                    {% for quantite in etape.getQuantites %}
                        <li>{{ quantite.ququantites }} {{ quantite.unites.unlibelle }} {{ quantite.produits.prlibelle }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <p>Aucune étape disponible pour cette recette.</p>
        </div>
            {% endfor %}
    </section>    <a href={{ path('app_recettes') }}>Retour à la liste des recettes</a>
{% endblock %}