{% extends 'backOffice.html.twig' %}

{% block title %}Ajout Recette{% endblock %}


{% block body %}
    <!-- Inclusion de jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Inclusion de Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
$(document).ready(function() {

$(".js-example-theme-multiple").select2({
  theme: "classic"
});});
</script>
<div class='Container_gestion'>
    <section class='header_popUp d-flex'>
        <div class='col-lg-3 Create'>
            <i class="fa-regular fa-square-plus fa-5x changeColor"></i>
        </div>

        <div class='col-lg-9 titre_create'>
            <h2 class='titreh2'>{{message}}</h2>  
        </div>
    </section>


<form method="post" enctype="multipart/form-data">
    <div class='row m-0 justify-content-center' >
        <div class='col-lg-4'>
            <label for="{{ form.re_libelle.vars.id }}" class="form-label form-contro">Nom de la recette</label>
            {{ form_widget(form.re_libelle, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class='col-lg-4'>
            <label for="{{ form.re_image.vars.id }}" class="form-label form-contro">Image de la recette</label>
            {{ form_widget(form.re_image, {'attr': {'class': 'form-control form-control'}}) }}
        </div>
    </div>


    <div class='row m-0  mt-3 justify-content-center' >
        <div class='col-lg-4'>
            <label for="{{ form.re_nb_personnes.vars.id }}" class="form-label form-contro">Nb de personnes</label>
            {{ form_widget(form.re_nb_personnes, {'attr': {'class': 'form-control form-control'}}) }}
        </div>

        <div class='col-lg-4'>
            <label for="{{ form.re_temps.vars.id }}" class="form-label form-contro">Temps recette</label>
            {{ form_widget(form.re_temps, {'attr': {'class': 'form-control form-control'}}) }}
        </div>
    </div>

    <div class='row m-0 mt-3 justify-content-center' >
        <div class='col-lg-4'>
            <label for="{{ form.regions.vars.id }}" class="form-label form-contro">Région de la recette</label>
            {{ form_widget(form.regions, {'attr': {'class': 'form-control form-control'}}) }}
        </div>

        <div class='col-lg-4'>
            <label for="{{ form.re_kcal.vars.id }}" class="form-label form-contro">Calories recette</label>
            {{ form_widget(form.re_kcal, {'attr': {'class': 'form-control form-control'}}) }}
        </div>
    </div>

    <div class='row m-0 justify-content-center'>
        <div class='col-lg-8'>
            <label for="{{ form.re_commentaires.vars.id }}" class="form-label form-contro">Commentaires sur la recette</label>
            {{ form_widget(form.re_commentaires, {'attr': {'class': 'form-control form-control'}}) }}
        </div>
    </div>

    <div class="row m-0 justify-content-center">
        <div class='col-lg-8'>
            <label for="{{ form.recette_tags.vars.id }}" class="form-label form-contro">Tags de la recette</label>
            {{ form_widget(form.recette_tags , {'attr': {'class': 'js-example-theme-multiple form-control'}})}}    
        </div>
    </div>

    <div class='SubmitRecettes'>
        {{ form_widget(form.submit  , {'attr': {'class': 'btn  myBoutton m-2'}}) }}
        <a class="m-2 btn btn-danger myBoutton" href={{url('recette_list')}}>Retour</a>

    </div>

    {{ form_rest(form) }}


</form>

</div>
{% endblock %}
