{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Détails de la recette{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
    {% include 'Menu.html.twig' %}
{% endblock %}


{# ***************************************** BODY ***************************************** #}

{% block body %}

<main class='Main_Detail ma_classe'>
    <div class='Recette_Update'>
        <section class='Container_detail'>
            <div>
                <h3 class='Titre_DT_Recette'>MiamMalin</h3>
            </div> 

            <div class='img_detail' style='background-image: url({{ asset('recettes_images/' ~ recette.reimage|url_encode)  }})'>
                <div class='Container_Titre_Recette'>
                    {# {% for etape in recette.getEtapes %}
                        {% for quantite in etape.getQuantites %}
                            {% for produit in quantite.getProduits %}
                    <p class='Tag_detail'>{{produit.categorie.calibelle}}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %} #}
                    {% for tag in recette.getRecetteTags %}
                    <p class='Tag_detail'>{{tag.talibelle}}</p>
                    {% endfor %}
                    <h7 class='Titre_Recette'>{{recette.relibelle}}</h7>    
                </div>
            </div>
        </section>

        <section class='Container_detail_2'>
            <div class='time_NB_Kcal'>
                <i class="fa-regular fa-user recette_i fa-2x"></i>
                <p class='text'>{{ recette.renbpersonnes }} /PERS</p>
            </div>
            <div class='time_NB_Kcal'>
                <i class="fa-regular fa-clock recette_i fa-2x"></i>
                <p class='text'>{{ recette.retemps }} MIN</p>
            </div>
            <div class='time_NB_Kcal'>
                <i class="fa-solid fa-fire recette_i fa-2x"></i>
                <p class='text'>{{ recette.rekcal }}</p>
                <p class='text'>KCAL</p>
                <p class='texT'> /PERS</p>
            </div>
        </section>

        <section class='Container_commentaire'>
            <div class='Commentaire'>
                <p class='maiden-orange-regular'>{{ recette.recommentaires }}</p>
            </div>
        </section>

        <a href={{url('recette_update_Final', {'id': recette.id})}}><i class="fa-solid fa-pen-to-square fa-4x text-warning mt-2"></i></a>
    </div>


    <section  class='Container_Ingredient_Etape'>
        <div class='Ingredient'>
            <div class='Container_ingredient'>
                <div class="liste_ingredient">
                    <div>
                        <h3 class='h3_Ingrédient'>Ingrédients</h3>          
                    </div>
                    <div>
                        <div class='ingredient'>
                            {% for nomIngredient, details in ingredientsAggreges %}
                                <div class='d-flex m-2'>
                                <p class='color maiden-orange-regular me-2'>{{ details.quantite }} {{ details.unite }}</p>
                                <p class='maiden-orange-regular'>{{ nomIngredient }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='Etape'>
            <div class="Container_Etape">
                <div class='Liste_Etape'>
                    <div>
                        <h3 class='h3_Ingrédient'>Etapes</h3>  
                    </div>
                    {% for etape in recette.getEtapes %}
                    <div class='etape'>
                        <div class='d-flex justify-content-between'>
                            <p class='color taille maiden-orange-regular'>ETAPE {{ etape.etnumero }}</p>
                        {% if etape.cuisson and etape.cuisson.culibelle %}
                            <p class='maiden-orange-regular'>{{ etape.cuisson.culibelle }}</p>
                        {% endif %}                        </div>

                        <div class='Etape_Description'>
                            <p class='maiden-orange-regular'>{{ etape.etdescription }}</p>
                        </div>

                        <ul class='d-flex m-0 mt-2 align-items-end p-0 ma_liste maiden-orange-regular'>
                            {% for quantite in etape.getQuantites %}
                                <li class='Li_Quantites maiden-orange-regular'>
                                    {# Affiche toujours la quantité, supposée toujours présente #}
                                    -<span class='color maiden-orange-regular'>{{ quantite.ququantites }}</span>
                                    
                                    {# Vérifier et afficher l'unité si elle n'est pas null #}
                                    {% if quantite.unites %}
                                        <span class='ml-2 maiden-orange-regular'>{{ quantite.unites.unlibelle }}</span>
                                    {% endif %}

                                    {# Vérifier et afficher le produit si il n'est pas null #}
                                    {% if quantite.produits %}
                                        <span class='ml-2 maiden-orange-regular'>{{ quantite.produits.prlibelle }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul> 
                        <a href="{{ url('etapes_update', {'etapeId': etape.id, 'recetteId': recette.id}) }}">
                            <i class="fa-solid fa-pen-to-square fa-4x text-warning mt-2"></i>
                        </a>
                        {# <div class='Container_Bouton_Update mt-3'>
                            <a  href={{url('etapes_update', {'id': etape.id, 'id': recettes.id})}}><i class="fa-solid fa-pen-to-square fa-4x text-warning mt-2"></i></a>
                        </div> #}

                    </div>                    
                        {% else %}
                        <p>Aucune étape disponible pour cette recette.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>






</main>

<script>
    // Désactive le scroll quand la popUp et affiché
    window.onload = function() {  
        var element = document.querySelector('.ma_classe'); 

    if (element) {
        $('.titre').toggle(); 
    } 
};


    function OpenPopUp(pSelect) {
        // Pour afficher le voile et la pop-up
            $(pSelect).click(function() {
                $('.voile').toggle(); 
                $('.popupRecette').toggle();
                $('.popupEtape').toggle();
            });
    }
    OpenPopUp('#affichePopUp');
</script>



{% endblock %}
