{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Categories{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
    {% include 'Menu.html.twig' %}
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}
    {# titre gestion des catégorie #}
    <h3 class='text-center'>{{message}}</h3>

{# ------------------------------- TABEAU GESTION ------------------------- #}

    {% if categories | length > 0 %}
    {# Boutton ajouter #}
    <a href={{url('Create_Catégorie')}} class='Cercle' id='affichePopUpCategorie' class='btn'><i class="fa-solid fa-plus-minus text-white fa-2x"></i></a>

    <section class="mt-5 mb-5 tableau row m-0">
        {# Entete du tableau #}
        <div class='tete_tableau col-lg-11'>
            <div class="colonne1 col-lg-10">
                <span scope="col"class='text-center'>Nom Catégories</span>
            </div>
            <div class="colonne2 col-lg-2">
                <span scope="col" class='text-center'>Actions</span>         
            </div>
        </div>

        {# Corp du tableau #}
        <div class='Corp_tableau col-lg-11 p-0'>
            {% for categorie in categories %}
                <div class='d-flex col-lg-12 corp_tableau2 d-lg-flex align-items-center {% if loop.index is odd %}ligne-impaire{% else %}ligne-paire{% endif %}'>
                    <div class="colonne1  col-lg-10 p-0">                
                        <span scope="col" class='text-center ml-5'>{{ categorie.caLibelle}}</span>
                    </div>
                    <div class="colonne2 col-lg-2">
                        <span scope="col" class='text-center'> 
                            <a id="affichePopUpUpdate"  href={{url('Update_categories', {'id': categorie.id})}}><i class="fa-solid fa-pen-to-square text-warning fa-lg"></i></a>
                            {% if not categoriesUsed[categorie.id] %}
                            <a id="affichePopUpUpdate" class='delete ml-4'  href={{url('delete_categories_pop_Up', {'id': categorie.id})}}><i class="fa-solid fa-trash-can text-danger fa-lg"></i></a>
                            {% endif %}
                        </span>
                    </div>
                </div> 
            {% endfor %} 
        </div>
    </section>
    {# Message si aucune catégorie #}
    {% else %}
        <p>Aucune catégorie pour l'instant</p>
    {% endif %} 
</div>
{# ***************************************** JAVASCRIPT ***************************************** #}

<script>
    // Affiche la PopUp create et le voile 
    function OpenPopUp(pSelect) {
        // Pour afficher le voile et la pop-up
            $(pSelect).click(function() {
                $('.voile').toggle(); 
                $('.popupCatégorie').toggle();
            });
    }
    OpenPopUp('#affichePopUpCategorie');

    // Désactive le scroll quand la popUp et affiché
    window.onload = function() {  
        var element = document.querySelector('.ma-classe'); 
        if (element) {
            document.body.classList.add('scroll-desactive');
        } 
    };
</script>


{% endblock %}
