{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Gestion des modes de Cuisson{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
    {% include 'Menu.html.twig' %}
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}
<script>
function showModalCreateCuisson() {
    $.ajax({
        url: '{{ path('Create_Cuisson') }}',
        type: 'GET',
        success: function (html) {
            $('.containerPopUP').html(html);
            $('#createCuisson').modal('show');
        },
        error: function (request, error) {
            console.error("Request: " + JSON.stringify(request) + ", Error: " + error);
        }
    });
}
function showModalUpdateCuisson(id) {
    const url = "{{ path('update_cuisson', {'id': 'ID_PLACEHOLDER'}) }}".replace('ID_PLACEHOLDER', id);
    $.ajax({
        url: url,
        type: 'GET',
        success: function (html) {
            $('.containerPopUP').html(html);
            $('#updateCuisson' + id).modal('show');
        },
        error: function (request, error) {
            console.error("Request: " + JSON.stringify(request) + ", Error: " + error);
        }
    });
}

function showModalDeleteCuisson(id) {
    const url = "{{ path('delete_cuisson', {'id': 'ID_PLACEHOLDER'}) }}".replace('ID_PLACEHOLDER', id);
    $.ajax({
        url: url,
        type: 'GET',
        success: function (html) {
            $('.containerPopUP').html(html);
            $('#DeleteCuisson' + id).modal('show');
        },
        error: function (request, error) {
            console.error("Request: " + JSON.stringify(request) + ", Error: " + error);
        }
    });
}
</script>



    {# titre #}
    <h3 class='text-center'>{{message}}</h3>
    <div class="containerPopUP"></div>

    {# Boutton ajouter #}
    <button data-bs-toggle="modal" onclick='showModalCreateCuisson()' class='Cercle btn'><i class="fa-solid fa-plus-minus text-white fa-2x"></i></button>
{# ------------------------------- TABEAU GESTION ------------------------- #}
    {% if cuissons | length > 0 %}
        <section class="mt-5 mb-5 tableau row m-0">
            {# Entete du tableau #}
            <div class='tete_tableau col-lg-11'>
                <div class="colonne1 col-lg-10">
                    <span scope="col"class='text-center'>Nom mode de cuisson</span>
                </div>
                <div class="colonne2 col-lg-2">
                    <span scope="col" class='text-center'>Actions</span>         
                </div>
            </div>

            {# Corp du tableau #}
            <div class='Corp_tableau col-lg-11 p-0'>
                {% for cuisson in cuissons %} 
                    <div class='d-flex col-lg-12 corp_tableau2 d-lg-flex align-items-center {% if loop.index is odd %}ligne-impaire{% else %}ligne-paire{% endif %}'>
                        <div class="colonne1  col-lg-10 p-0">                
                            <span scope="col" class='text-center ml-5'>{{ cuisson.cuLibelle}}</span>
                        </div>
                        <div class="colonne2 col-lg-2">
                            <span scope="col" class='text-center'> 
                            <button onclick="showModalUpdateCuisson('{{ cuisson.id }}')" class='g btn'><i class="fa-solid fa-pen-to-square text-warning fa-lg"></i></button>                            
                                {% if not isCuissonUsed[cuisson.id] %}
                                <button onclick="showModalDeleteCuisson('{{ cuisson.id }}')" class='g btn'><i class="fa-solid fa-trash-can text-danger fa-lg"></i></button>                            
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </section>
    {% else %}
        <p>Aucun mode de cuisson pour l'instant</p>
    {% endif %} 
</div>
{% endblock %}
