{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Ajout Quantites{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
    {% include 'recettes/gestionRecettte.html.twig' %}
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}

{# **************** gestion d ela bibliothèque select2 pour l'input select ***************** #}

    <!-- Inclusion de jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Inclusion de Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
    $(document).ready(function() {

    $(".js-example-theme-multiple").select2({
    theme: "classic"
    });});
    </script>


       
        {# ----------------------------------- ADD QUANTITES --------------------------------------------------- #}
    <div id='container_form' class='ma-classe'>
        <form method="post" enctype="multipart/form-data"   class='popupQuantites' id='monFormId'>
            <div class='popUP_Create add-mode '>
                <div class='col-lg-3 Create add-mode '>
                    {# Icon add #}
                    <i class="fa-regular fa-square-plus fa-5x changeColor"></i>
                    {# <i class="fa-regular fa-square-plus fa-5x changeColor"></i> #}
                </div>

                <div class='d-flex align-items-center'>
                    {# titre Create de la pop up ajouter #}
                    <h4>CREATE QUANTITES</h4>
                </div>  
            </div>

            <div>
                <h5 class='text-center mt-4 mb-4 text_Size'>Étape <span class="form-contro text_color" >{{ etape.etnumero }}</span><span>    </span>  Recette <span class="form-contro text_color" >{{ recette.reLibelle }}</span></h5>
            </div>


            <div class='d-flex col-12 mt-2'>
                <div class='col-lg-4'>
                    <div class='p-0' >
                        <div>
                            <label for="{{ form.produits.vars.id }}" class="form-label form-contro">Ingrédient*</label>
                            {{ form_widget(form.produits, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class='col-lg-4'>
                    <div class='p-0' >
                        <div>
                            <label for="{{ form.qu_quantites.vars.id }}" class="form-label form-contro">Quantites de l'ingrédient*</label>
                            {{ form_widget(form.qu_quantites, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class='d-flex col-12 ' >
                    <div class='col-lg-4' >
                        <label for="{{ form.unites.vars.id }}" class="form-label form-contro">Unité de l'ingrédient*</label>
                        {{ form_widget(form.unites, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>


            <div class='SubmitRecettes'> 
                <button type="submit" name="action" value="add_and_continue" class="btn myBouttonSubmitQ m-2">New Ingredient</button>
                <button type="submit" name="action" value="add_and_New_etape" class="btn myBouttonSubmitE m-2">New Étape</button>
                <button type="submit" name="action" value="add_and_finish" class="btn myBouttonSubmit m-2">Terminer</button>
            </div>

            {{ form_rest(form, {'attr': {'class': 'd-none'}}) }}

        </form>


    </div>

        <script>
        console.log("Avant l'ajout de la classe");
window.onload = function() {  
    var element = document.querySelector('.ma-classe'); 
  console.log("Élément trouvé :", element);

  if (element) {
    document.body.classList.add('scroll-desactive');
    $('.voile').toggle(); 
    console.log("Classe ajoutée");
  } else {
    console.log("Élément avec la classe spécifique non trouvé");
  }
};
console.log("Après l'écouteur d'événements");    


    $(document).ready(function() {
        $('#affichePopUp').click(function(e) {
            e.preventDefault(); 
            $('#monFormId').submit();
        });
    });


    </script>
    {% endblock %}


